* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body { font-family: "Roboto"; }
a { text-decoration: none; }

@font-face {
    font-family: Chulok;
    src: url("../fonts/Rozovii Chulok.ttf");
}

@keyframes stir {
    10% { transform: rotate(10deg) translateX(0) translateY(0); }
    20% { transform: rotate(20deg) translateX(.1875rem) translateY(-.125rem); }
    30% { transform: rotate(30deg) translateX(.375rem) translateY(-.25rem); }
    40% { transform: rotate(40deg) translateX(.5625rem) translateY(-.3125rem); }
    50% { transform: rotate(50deg) translateX(0.35rem) translateY(-0.675rem); }
    60% { transform: rotate(40deg) translateX(.5625rem) translateY(-.3125rem); }
    70% { transform: rotate(30deg) translateX(.375rem) translateY(-.25rem); }
    80% { transform: rotate(20deg) translateX(.1875rem) translateY(-.125rem); }
    90% { transform: rotate(10deg) translateX(0) translateY(0); }
}

.particle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button {
    display: inline-block;
    color: #0b0b0b;
    text-decoration: none;
    font-size: .9rem;
    padding: 0.8rem .9375rem;
    box-sizing: content-box;
    text-transform: uppercase;
    background: #EED145;
    font-weight: 700;
}

.table {
    width: 100%;
    margin-top: .8rem;
    
    &__item {
        padding: 8px .875rem;
    }
    &__title {
        font-size: .875rem;
        text-align: center;
        font-weight: 700;
        background: #353535;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__row {
        &:nth-child(n) { background: #292929; }
        &:nth-child(2n) { background: #453150; }
    }
    &__text {}
}


.main {
    &__title {
        font-size: 2rem;
        border-bottom: 4px solid #79349f;
        padding-bottom: 5px;
        text-align: center;
        &-sub {
            display: inline-block;
            font-size: 12px;
            transform: translate(-1rem, -6px);
            color: #eed145;
            position: absolute;
        }
    }
    &__forHide {
        position: relative;
        background: #1f1f1f;
    }
    &__wrap {
        position: relative;
        background: #1f1f1f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &-preload {
            position: absolute;
            width: 150px;
            height: 150px;
            background-image: url(https://i.giphy.com/media/l46CmodtxaTWfVtEQ/giphy.webp);
            background-size: cover;
            top: 0;
            background-position: center;
            border-radius: 100px;
            left: 45%;
        }
    }
    &__section {
        height: 100vh;
        
        &-first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }        
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &-img {
                background-image: url(https://s1.1zoom.ru/big0/198/Cocktail_Drinks_Lemons_453316.jpg);
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &-color {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000000;
                opacity: 0.8;
            }
        }
        &-one {
            max-width: 64rem;
            width: 100%;
            border: 10px solid #171717;
            padding: 10px;
            border-radius: .875rem;
            background: #1f1f1f;
            z-index: 1;
        }

        &-header {
            background: #0f0f0f;
            border-radius: .875rem;
            border: .875rem solid #131313;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &-title {
            color: white;
            font-size: 2.8rem;
            border-bottom: .375rem solid #79349f;
            font-family: "Chulok";
            text-align: center;
        }

        &-description {
            color: white;
            max-width: 25.625rem;
            margin: .875rem auto .875rem auto;
        }

        &-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
        }
    }

    &__sh {
        position: relative;
        display: grid;
        grid-template-columns: 1fr .1fr;
        margin: 3rem;
        color: white;

        &-item {
            display: inline-block;
            text-align: left;
            
            &_outside {
                position: relative;
                display: inline-block;
                z-index: 1;
                cursor: pointer;
                font-size: 8.75rem;
                transition-duration: .3s;
                
                &-active { animation: stir 0.5s linear infinite; }
                &:hover { color: #79349f; }
            }
            &_inside {
                position: absolute;
                font-size: 2.3rem;
                top: 3.65rem;
                right: 2.6rem;
                color: #0b0b0b;
                background: #eed145;
                border-radius: 100%;
                padding: .25rem;            
                transition-duration: .3s;
            }
        }
    }
}